*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

img,
picture {
  max-width: 100%;
  display: block;
}
